@import "tailwindcss";

body {
  overflow-x: hidden;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "mons";
  src: url("/font/Mons.ttf") format("truetype");
  /* font-weight: 400; */
  /* font-style: normal; */
}
@font-face {
  font-family: "impact";
  src: url("/font/Impact.ttf") format("truetype");
  /* font-weight: 400; */
  /* font-style: normal; */
}
@font-face {
  font-family: "bebas";
  src: url("/font/Bebas.ttf") format("truetype");
  /* font-weight: 400; */
  /* font-style: normal; */
}
@font-face {
  font-family: "space";
  src: url("/font/space.ttf") format("truetype");
  /* font-weight: 400; */
  /* font-style: normal; */
}
@font-face {
  font-family: "outfit";
  src: url("/font/outfit.ttf") format("truetype");
  /* font-weight: 400; */
  /* font-style: normal; */
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.marquee-track {
  display: flex;
  animation: marquee linear infinite;
  will-change: transform;
}
